---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: ess-ws
  namespace: {{ ess_namespace }}
  annotations:
    nginx.ingress.kubernetes.io/proxy-connect-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
{% if ess_cert_issuer %}
    cert-manager.io/cluster-issuer: "{{ ess_cert_manager_issuer_base|lower }}-{{ ess_cert_issuer|lower }}"
{% endif %}
spec:
  ingressClassName: {{ ess_ingress_class }}
{% if ess_cert_issuer %}
  tls:
  - hosts:
    - {{ ess_ws_hostname }}
    secretName: ess-tls
{% endif %}
  rules:
  - host: {{ ess_ws_hostname }}
    http:
      paths:
      - path: /event-stream
        pathType: Prefix
        backend:
          service:
            name: ess-ws
            port:
              name: ws
