---
# A volume for the ESS SQLite database.
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: ess-log
  namespace: {{ ess_namespace }}
  labels:
    app.kubernetes.io/name: im-ess
    app.kubernetes.io/instance: im-ess-{{ ess_instance_name }}
    app.kubernetes.io/version: "{{ ess_image_tag }}"
    app.kubernetes.io/component: websocket
    app.kubernetes.io/managed-by: Ansible
spec:
  accessModes:
  - ReadWriteOnce
{% if ess_log_volume_volume_storageclass != ' ' %}
  storageClassName: {{ ess_log_volume_volume_storageclass }}
{% endif %}
  resources:
    requests:
      storage: 100Mi
