---
kind: Service
apiVersion: v1
metadata:
  name: ess-ws-api
  namespace: {{ ess_namespace }}
  labels:
    app.kubernetes.io/name: im-ess
    app.kubernetes.io/instance: im-ess-{{ ess_instance_name }}
    app.kubernetes.io/version: "{{ ess_image_tag }}"
    app.kubernetes.io/component: websocket
    app.kubernetes.io/managed-by: Ansible
spec:
  selector:
    name: ess
  ports:
  - name: api
    port: 8081
    targetPort: internal
